<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{ base }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MCreations</title>
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{> navbar }}

  {{{ body }}}

  {{> footer }}

  <script src="/js/main.js"></script>
</body>
</html>
