<nav class="navbar">
  <a href="/" class="navbar-brand">MCreations</a>
  <ul class="nav-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/illustrations">Illustrations</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/admin/illustrations">Admin</a></li>
  </ul>
</nav>
