<div class="container">
  <h1 class="centered margin-top-2 margin-bottom-2">ADMIN - ILLUSTRATIONS</h1>
  <div class="row centered">
    <div class="col">
      <div class="card">
        <a href="/admin/illustrations/create" class="btn margin-left-1">CREATE</a>
        <div class="row">
          <div class="col span-tablet-6 span-desktop-4">
            <div class="card">
              <img src="/images/arcade001.jpg" class="card-image" alt="img">
              <div class="card-footer">
                <form action="/admin/illustrations/update/1" method="post">
                  <input type="hidden" name="">
                  <input type="submit" class="btn width-100" value="UPDATE">
                </form>
                <form action="/admin/illustrations/delete/1" method="post">
                  <input type="hidden" name="">
                  <input type="submit" class="btn width-100" value="DELETE">
                </form>
              </div>
            </div>
          </div>

          <div class="col span-tablet-6 span-desktop-4">
            <div class="card">
              <img src="/images/arcade001.jpg" class="card-image" alt="img">
              <div class="card-footer">
                <form action="/admin/illustrations/update/1" method="post">
                  <input type="hidden" name="">
                  <input type="submit" class="btn width-100" value="UPDATE">
                </form>
                <form action="/admin/illustrations/delete/1" method="post">
                  <input type="hidden" name="">
                  <input type="submit" class="btn width-100" value="DELETE">
                </form>
              </div>
            </div>
          </div>

          <div class="col span-tablet-6 span-desktop-4">
            <div class="card">
              <img src="/images/arcade001.jpg" class="card-image" alt="img">
              <div class="card-footer">
                <form action="/admin/illustrations/update/1" method="post">
                  <input type="hidden" name="">
                  <input type="submit" class="btn width-100" value="UPDATE">
                </form>
                <form action="/admin/illustrations/delete/1" method="post">
                  <input type="hidden" name="">
                  <input type="submit" class="btn width-100" value="DELETE">
                </form>
              </div>
            </div>
          </div>

          <div class="col span-tablet-6 span-desktop-4">
            <div class="card">
              <img src="/images/arcade001.jpg" class="card-image" alt="img">
              <div class="card-footer">
                <form action="/admin/illustrations/update/1" method="post">
                  <input type="hidden" name="">
                  <input type="submit" class="btn width-100" value="UPDATE">
                </form>
                <form action="/admin/illustrations/delete/1" method="post">
                  <input type="hidden" name="">
                  <input type="submit" class="btn width-100" value="DELETE">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
